<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Simple is Best</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <style>
    


    * {
      box-sizing: border-box;
    }
    

    
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    [class*="col-"] {
      float: left;
      padding: 15px;
      border: 20px solid white;
    }
    
    .navbar {
      background-color: rgb(230, 229, 229);
      
    }

    .navbar-brand {
      font-weight: bold;
    }

    .nav-item img {
      width: 40px;
      height: 40px;
    }

    .card {
      margin: 20px;
    }

    
   
    </style>
</head>
<body>
  
  
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/board/list/" style="color: black; text-decoration: none;">Simple is Best</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">NEW</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">BEST</a>
          </li>
          <li class="nav-item" >
              <a class="nav-link" href="/board/bottom/" style="color: black; text-decoration: none;">BOTTOM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/board/top/" style="color: black; text-decoration: none;">TOP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/board/outer/" style="color: black; text-decoration: none;">OUTER</a>
            </li>
          <li class="nav-item">
            <a class="nav-link">ACC</a>
          </li>
          <li class="nav-item">
            <img src="/media/shop/images/search.png" class="d-flex rounded" style="margin-left: 810px;">
          </li>
        </ul>
      <!-- 검색 폼 -->
      <form class="form-inline ml-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
       </div> 
    </div>
  </nav>

 <!-- 상품 카드 -->
 <!-- 상품 카드 -->
 <div class="container">
  <div class="card-deck">
    <div class="card text-center">
      <img src="/media/shop/images/니트.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">퐁실퐁실 니트</h5>
        <h5 class="card-price">36600</h5>
      </div>
    </div>

    <div class="card text-center">
      <img src="/media/shop/images/가디건.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">루즈핏 가디건</h5>
        <h5 class="card-price">31000</h5>
      </div>
    </div>

    <div class="card text-center">
      <img src="/media/shop/images/첫화면.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Coming soon...</h5>
      </div>
    </div>
  </div>
   </div>


  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
